<div class="img">
    <h1>Congreso Instituto Tecnológico Superior "Yavirac"</h1>
</div>

<div class="btn-home">
    <nav>
        <ul>
            <li><a>Inscripciones</a>
                <!-- <ul>
                    <li><a class="right" href="#">Ponentes</a></li>
                    <li><a class="right" href="#">Asistentes</a></li>
                </ul> -->
            </li>
            <li><a href="#">Ponencias</a></li>
            <li><a href="#">Cronograma</a></li>
            <li><a href="#">Acerca de</a></li>
            <li><a href="#">Contáctenos</a></li>
        </ul>
    </nav>
</div>