<form class="reactive" [formGroup]="loginForm" (ngSubmit)="send()" novalidate="">
    <h1>Inscripción Ponente</h1>
    <div class="campos">
        <img class="side-1" src="../../../../assets/img/side-1.jpg" alt="">
        <img class="side-2" src="../../../../assets/img/side-1.jpg" alt="">
        <input class="form-item" [ngClass]="{'is-invalid': !loginForm.get('dni').valid}" type="text" placeholder="DNI"
            formControlName="dni">
        <span *ngIf="loginForm.controls['dni'].errors?.required" class="req">
            *
        </span>
        <span *ngIf="loginForm.controls['dni'].errors?.minlength">
            Mínimo 10 caracteres
        </span>
        <span *ngIf="loginForm.controls['dni'].errors?.maxlength">
            Máximo 15 caracteres
        </span>
    </div>
    <div class="campos">
        <input class="form-item" [ngClass]="{'is-invalid': !loginForm.get('nombre').valid}" type="text"
            placeholder="Nombres" formControlName="nombre">
        <span *ngIf="loginForm.controls['nombre'].errors?.required" class="req">
            *
        </span>
        <span *ngIf="loginForm.controls['nombre'].errors?.minlength">
            Por lo menos 3 caracteres
        </span>
        <span *ngIf="loginForm.controls['nombre'].errors?.pattern">
            Solo caracteres alfabéticos
        </span>
    </div>

    <div class="campos">
        <input class="form-item" [ngClass]="{'is-invalid': !loginForm.get('apellido').valid}" type="text"
            placeholder="Apellidos" formControlName="apellido">
        <span *ngIf="loginForm.controls['apellido'].errors?.required" class="req">
            *
        </span>
        <span *ngIf="loginForm.controls['apellido'].errors?.minlength">
            Mínimo 3 caracteres
        </span>
        <span *ngIf="loginForm.controls['apellido'].errors?.pattern">
            Solo caracteres alfabéticos
        </span>
    </div>

    <div class="campos">
        <input class="form-item" [ngClass]="{'is-invalid': !loginForm.get('email').valid}" type="text"
            placeholder="Correo Electrónico" formControlName="email">
        <span *ngIf="loginForm.controls['email'].errors?.required" class="req">
            *
        </span>
        <span *ngIf="loginForm.controls['email'].errors?.pattern">
            Correo Inválido
        </span>
    </div>

    <div class="campos">
        <input class="form-item" [ngClass]="{'is-invalid': !loginForm.get('telefono').valid}" type="text"
            placeholder="Teléfono" formControlName="telefono">
        <span *ngIf="loginForm.controls['telefono'].errors?.required" class="req">
            *
        </span>
        <span *ngIf="loginForm.controls['telefono'].errors?.pattern">
            Número Inválido
        </span>
    </div>

    <button class="btn" (click)="send()" [disabled]="!loginForm.valid">Enviar</button>
</form>