/******************** FOND ********************/
$r-beige: 0;
$g-beige: 0;
$b-beige: 0;

$r-brownCoffe: 25;
$g-brownCoffe: 117;
$b-brownCoffe: 255;

$alfa: 0;
$imagen:"./assets/img/fondo-yavirac.jpg";

